<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  <body>

    {{ partial "nav.html" . }}

      <div role="main" class="container main-content">
        <div class="intro-header no-img">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                  <h1>Whoops!</h1>
                  <hr class="small">
                  <h2>This page doesn't exist,</h2>
                  <h2>if it should please <a target="_blank" href="mailto:{{ .Site.Author.email }}" title="Email me"> email me.</h2>
                  <hr class="small">
                  <h2> <a href="{{ .Site.BaseURL }}" alt="Thomas Tiveron Blog Home"> Return Home </a> </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

  </body>
  {{ partial "footer.html" . }}
</html>
