{{ partial "header.html" . }}

<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {{ .Content }}

      <!--

      //{{ $sectionCategory := (index .Params.categories 0)}}
      //{{ range .Site.Pages}}
      //  {{ $value := (index .Params.categories 0)}}
      //  {{if eq $value "Learning"}}
      //    <h3 class="post-subtitle">{{  .Title }}</h3>
      //    {{ if .Params.subtitle }}
      //      <h3 class="post-subtitle">{{ .Params.subtitle }}</h3>
      //      <h3 class="post-subtitle">{{ .Params.categories }}</h3>
      //      <h3 class="post-subtitle">{{ .Params.tags }}</h3>
      //    {{ end }}
      //  {{end}}
      //{{end}}


      //{{ if .Site.DisqusShortname }}
      //  <div class="disqus-comments">
      //  {{ template "_internal/disqus.html" . }}
      //  </div>
      //{{ end }}

      -->


    </div>
  </div>
</div>
