<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}
  <body>
    {{ partial "nav.html" . }}
    <div role="main" class="container main-content">
      {{ partial "header.html" . }}

      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          {{ .Content }}

          <div class="posts-list">
              {{ range .Site.Pages}}
                {{if and ((isset .Params "categories") (isset .Params "type"))}}
                {{if eq .Type "post"}}
                  {{ $value := (index .Params.categories 0)}}
                  {{if eq $value "Projects"}}

              <article class="post-preview">
                <a href="{{ .Permalink }}">
                <h2 class="post-title">{{ .Title }} </h2>
                  {{ if .Params.subtitle }}
                <h3 class="post-subtitle">
                  {{ .Params.subtitle }}
                </h3>
                {{ end }}
                </a>

                <p class="post-meta">
                  Posted on {{ .Date.Format "January 2, 2006" }}
                </p>

                <div class="post-entry">
                  {{ .Summary }}
                <a href="{{ .Permalink }}" class="post-read-more">[Read&nbsp;More]</a>
                </div>

               </article>
               {{end}}
             {{end}}
             {{end}}
           {{end}}
          </div>

        </div>
      </div>
    </div>
  </body>
{{ partial "footer.html" . }}
